.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container > form {
    width: 400px;
    height: 350px;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.4);
    padding: 40px;
    color: black;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.container > form input {
    color: black;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
}
.container > form span {
    color: black;
    text-align: center;
    margin-top: 10px;
    font-size: 0.9rem;

}
.container > form .incorrectPassword{
    color: red;
    font-size: 0.9rem;
}

.container > form .loginBtn {
   padding: 10px 20px;
   border: none;
   outline: none;
   background-color: green;
   margin-top: 20px;
   color: white;
   cursor: pointer;
   border-radius: 10px;
}
.container > form .loginBtn:hover {
    transform: scale(1.1);
    transition: all ease-in-out 500ms;
}

@media (max-width: 600px) {
    .container > form {
        width: 90%;
        height: 350px;
        box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.4);
        padding: 40px;
        color: black;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }
}